<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.instagramclone.model.mapper.UserMapper">
    <insert id="회원가입"
            parameterType="com.project.instagramclone.model.dto.User">
        INSERT INTO users
            (name, email, password, created_at)
        VALUES (#{name}, #{email}, #{password}, now())
    </insert>
    <select id="이메일중복체크" parameterType="com.project.instagramclone.model.dto.User" resultType="int">
        SELECT count(*)
        FROM users
        WHERE email = #{email}
    </select>

    <select id="이메일로회원찾기" parameterType="String"
            resultType="com.project.instagramclone.model.dto.User">
        SELECT * FROM users WHERE email = #{email}
    </select>
    <select id="모든회원조회" parameterType="com.project.instagramclone.model.dto.User">
        SELECT *
        FROM users;
    </select>

    <!--
     name LIKE CONCAT('%', #{keyword}) 앞에 뭐가오든 상관없이 맨 위에 keyword가 있어야 한다.
      name LIKE CONCAT(#{keyword}, '%') 무조건 keyword로 시작하고 뒤에 오는 건 상관 없다.
       name LIKE CONCAT('%', #{keyword}, '%')
    -->
    <select id="유저명검색" resultType="com.project.instagramclone.model.mapper.UserMapper">
        SELECT id, name, email, profile_img
        FROM users
        where name LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY name
        LIMIT 5
    </select>
</mapper>